@import "src/index";

header {
  margin-top: 68px;
}

.Wrap {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 46px;
  max-width: 1300px;

  .linkStyle {
    font-size: 18px;
    @include black;
    text-decoration: none;
  }

  nav {
    flex: 1;
    text-align: center;
  }

  nav > .linkStyle {
    padding: 0 20px;
  }
}
