@import "./src/index";
@import "~breakpoint-sass";

$bk-desktop: 1440px;
$bk-table-landscape: 1085px 811px;
$bk-table: 811px 611px;
$bk-phone: 611px 0px;

.CardsWrapper {
  @include breakpoint($bk-phone) {
    display: flex;
    justify-content: center;
    .CardsGroup {
      display: flex;
      flex-flow: column;
      padding-top: 240px;
    }
  }

  .CardsGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    max-width: 100%;

    .CardsBody {
      @include breakpoint($bk-phone) {
        width: 180px;
        height: 240px;
        margin: 8px;
        .Icons {
          width: 150px;
          height: 150px;
        }
      }
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      width: 245px;
      height: 280px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      transition: 0.5s;
      z-index: 2;

      .Icons {
        width: 180px;
        height: 180px;
      }

      .CardsTitle {
        @include breakpoint($bk-phone) {
          font-size: 16px;
        }
        font-family: Manrope, sans-serif;
        @include black;
        font-size: 18px;
        font-weight: 300;
        transition: 1s;
        padding-top: 5px;
        margin: 5px;
        text-align: center;
      }
    }

    .CardsBody:hover {
      color: #EF7954;
      transition: 0.5s;
      transform: scale(1.05);

      .CardsTitle {
        color: #EF7954;
        font-size: 18px;
        transition: 0.5s;
      }
    }
  }
}
