@import "index";

.text {
  color: red;
}

.ConImg {
  height: 452px;
  width: 452px;
  display: block;
}

.ConImg:hover {
  height: 452px;
  width: 452px;
}

.OneBlock {
  display: flex;
  margin-top: 55px;

  .Title {
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 500;
    @include black;
    margin-top: 40px;
  }

  .TitleOrange {
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #EF7954;
    padding: 0;
    margin: 0;
  }

  .Subtitle {
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-top: 40px;
  }
}

.TwoBlock {

  .ImageGallery {
    width: 1300px;
    height: 480px;
    border-radius: 20px;
    background: #000;
    position: relative;
  }
}


//ПОЧЕМУ МЫ?
.ThreeBlock {
  .CardsGroupThree {
    display: flex;
    justify-content: space-between;

    .CardsBodyThree {
      display: flex;
      flex-flow: column;
      justify-content: center;

      width: 245px;
      height: 303px;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      transition: 0.5s;
      z-index: 4;

      .Body {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;

        .CardsTitle {
          font-family: Manrope, sans-serif;
          @include black;
          font-size: 18px;
          font-weight: 300;
          transition: 1s;
          margin-top: 40px;
          text-align: center;
          max-width: 180px;
        }
      }

      .icons {
        width: 75px;
        height: 75px;
      }
    }

    .CardsBodyThree:hover {
      width: 245px;
      height: 303px;
      border-radius: 20px;
      background-color: #fff;
      text-align: center;
      padding-bottom: 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      z-index: 2;
      color: #EF7954;
      transition: 0.5s;
      transform: scale(1.05);
      cursor: pointer;

      .CardsTitle {
        font-family: Manrope, sans-serif;
        color: #EF7954;
        font-size: 18px;
        font-weight: 400;
        transition: 0.5s;
      }
    }
  }
}

//ВАРИАНТЫ, КОТОРЫЕ МЫ МОЖЕМ ПРЕДЛОЖИТЬ
.FourBlock {
  .CardsWrapper {
    display: flex;

    .InfoCardsWrapper {
      display: flex;
      flex-flow: column;
      justify-content: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      z-index: 3;

      .InfoCards {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
      }

      .InfoLogo {
        width: 34px;
        height: 34px;
      }

      .InfoCardsTitle {
        width: 191px;
        font-family: Manrope, sans-serif;
        @include black;
        font-size: 18px;
        font-weight: 300;
        transition: 1s;
        text-align: center;
        margin-top: 40px;
      }

      width: 245px;
      height: 490px;
      border-radius: 20px;
      background: #fff;
    }

    .CardsTitle {
      font-family: Manrope, sans-serif;
      @include black;
      font-size: 18px;
      font-weight: 300;
      transition: 1s;
      text-align: center;
      margin-top: 20px;
    }

    .MiniCardsWrapper {
      margin-left: 120px;
      width: 907px;

      //Первый ряд
      .CardsGroupMiniSecond {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
      }

      .CardsGroupMini {
        display: flex;
        justify-content: space-between;
      }

      .CardsBody {
        width: 245px;
        height: 225px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        transition: 0.5s;
        cursor: pointer;
      }

      .CardsBody:hover {
        width: 245px;
        height: 225px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        transition: 0.5s;
        transform: scale(1.05);
        cursor: pointer;
      }
    }

  }
}

//КОНТАКТЫ
.FiveBlock {
  padding-bottom: 100px;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);


  .ContactWrapper {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    //z-index: 4;
    position: relative;

    .Contact {
      padding: 40px 71px 40px 71px;
      display: flex;
      justify-content: space-between;
      z-index: 4;

      .LastTitle {
        font-family: Manrope, sans-serif;
        @include black;
        font-size: 24px;
        font-weight: 400;
        transition: 1s;
        text-align: left;
        padding: 10px 0 0 0;

      }

      .Information {
        font-family: Manrope, sans-serif;
        @include black;
        font-size: 24px;
        font-weight: 300;
        transition: 1s;
        padding: 10px 0 0 0;
        text-align: left;
        text-decoration: none;

      }

      .Left {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
      }

      .Right {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .SocialMedia {
          display: flex;
          justify-content: space-between;
          width: 472px;
          padding: 26px 0 17px 0;

          .IconSocialMedia {
            height: 64px;
            width: 64px;
          }
        }
      }
    }

    .MapWrapper {
      height: 380px;
      width: 100%;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    }
  }
}

//НАМ ДОВЕРЯЮТ
.SixBlock {
  .Collabs {
    display: flex;
    justify-content: center;
    margin-top: 150px;

    .OneLine {
      //display: flex;
      //justify-content: space-between;
      margin-top: 100px;
    }

    .TwoLine {
      margin-top: 40px;
      //display: flex;
      //justify-content: space-between;
    }

    .CompamyImg {
      //height: 45px;
      //width: 218px;
      image-rendering: high-quality;
      image-resolution: normal;
    }
  }

  .TitleBuble {
    //padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    z-index: 0;

    .BubleBuble {
      height: 169px;
      width: 178px;
      position: absolute;
    }

    .BubletextBuble {
      @include black;
      position: absolute;
      font-size: 24px;
      font-family: Gilroy, sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

//ОБРАТНЫЙ ЗВОНОК
.SevenBlock {
  padding-bottom: 100px;

  .BringWrapper {
    width: 1300px;
    height: 314px;
    border-radius: 20px;
    background-color: #F9AB92;
    background-image: url("../public/images/contact-us/pana.png");
    background-repeat: no-repeat;
    background-position-x: 900px;
    background-position-y: bottom;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    .BringBlock {
      padding: 40px 0 20px 71px;

      .FormStyle {

        .Titles {
          margin-bottom: 20px;
        }

        .PutStylePhone {
          border-radius: 10px;
          width: 300px;
          height: 60px;
          background-color: #F6F6F6;
          outline: none;
          text-decoration: none;
          border: none;
          padding: 10px 20px 10px 20px;

          font-family: Gilroy, sans-serif;
          font-size: 18px;
          font-weight: 400;
          @include black;
        }

        .FormTitle {
          @include black;
          font-size: 24px;
          font-family: Gilroy, sans-serif;
          font-weight: 600;
          max-width: 400px;
          margin-bottom: 20px;
        }

        .Helptext {
          font-family: Manrope, sans-serif;
          @include black;
          font-size: 18px;
          font-weight: 300;
          transition: 1s;
          text-align: left;
          max-width: 400px;
          margin-bottom: 20px;
        }

        .InputWrapper {
          display: flex;
          //justify-content: space-between;
          max-width: 800px;

          .PutStyle {
            border-radius: 10px;
            width: 300px;
            height: 60px;
            background-color: #F6F6F6;
            outline: none;
            text-decoration: none;
            border: none;
            padding: 17px 20px 17px 20px;
            margin-right: 10px;

            font-family: Gilroy, sans-serif;
            font-size: 18px;
            font-weight: 400;
            @include black;
          }

          .button {
            border-radius: 10px;
            width: 186px;
            height: 60px;
            background-color: #F6F6F6;
            outline: none;
            text-decoration: none;
            border: none;
            padding: 17px 47px 17px 47px;

            font-family: Gilroy, sans-serif;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            transition: 1s;
          }

          .button:hover {
            background-color: #ffd7d7;
            transition: 0.5s;
            cursor: pointer;
          }
        }
      }
    }
  }
}
