@import 'src/index';
@import "~breakpoint-sass";

$bk-desktop: 1440px;
$bk-table-landscape: 1085px 811px;
$bk-table: 811px 611px;
$bk-phone: 1000px 0px;


.FooterWrapper {
  @include breakpoint($bk-phone) {
    .Footer {
      display: flex;
      flex-flow: column;
      margin: 40px 0;
    }
  }

  .Footer {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    .FooterLogo {
      @include breakpoint($bk-phone) {
        display: none;
      }
      display: flex;
      width: 150px;
      height: 42px;
    }

    .FooterLinks {
      @include breakpoint($bk-phone) {
        text-align: center;
      }
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-transform: uppercase;
      @include black;
      padding-bottom: 20px;
      text-align: left;
    }
  }
}

.AllRight {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-transform: uppercase;

  color: #848484;
  padding-bottom: 50px;
  text-align: center;
}
